
.sidebar-box .sidebar-box-title , .sidebar-menu li{
	background: #f9f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f8f8 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f8), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f8f8 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f8f8 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f8f8 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f8f8 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f8', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
footer{
background: #e3e2df; /* Old browsers */
background: -moz-linear-gradient(top, #e3e2df 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e2df), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e3e2df 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e3e2df 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e3e2df 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #e3e2df 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e2df', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}