.xs-home-menu-div{
    display: none;
}
/*xs*/
@media (max-width:767px){
    .header-content{
        height: 375px;
    } 
    .social-div{
        margin: 0px;
        position: absolute;
        top: 20px;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    .xs-home-menu-div{
        display: block;
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    .xs-home-menu-div > ul{
        margin: 0px;
    }
    .logo-div{
        top: 145px;
    }
    .core-div{
        top: 310px;
    }
}