/*xs*/
@media (max-width:767px){
       
}
/*sm*/
@media (min-width:768px) and (max-width:991px){
    .results-box-style > .out-box{
        -webkit-flex-grow: 0; /* Safari 6.1+ */
        -webkit-flex-shrink: 0; /* Safari 6.1+ */
        -webkit-flex-basis: 33.33%; /* Safari 6.1+ */
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        padding: 0px 15px; 
        margin-bottom: 30px;
    } 
}
/*md*/
@media (min-width:992px) and (max-width:1199px){
    .results-box-style > .out-box{
        -webkit-flex-grow: 0; /* Safari 6.1+ */
        -webkit-flex-shrink: 0; /* Safari 6.1+ */
        -webkit-flex-basis: 33.33%; /* Safari 6.1+ */
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        padding: 0px 15px; 
        margin-bottom: 30px;
    }
}
/*lg*/
@media (min-width:1200px){
    .results-box-style > .out-box{
        -webkit-flex-grow: 0; /* Safari 6.1+ */
        -webkit-flex-shrink: 0; /* Safari 6.1+ */
        -webkit-flex-basis: 33.33%; /* Safari 6.1+ */
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 33.33%;
        padding: 0px 15px; 
        margin-bottom: 30px;
    }   
}